<div class="about-container">
	<h1 id="about-header" class="hidden">
		{{ "About" | upcase }}
	</h1>
	<div id="about-header-bar" class="header-bar hidden"></div>

	<div class="flex">
		<div class="flex-quad">
			<div class="icon-container hidden" style="animation-delay: .1s">
				<i id="first-icon" class="fa-3x fas fa-tachometer-alt"></i>
			</div>
			<h2 class="icon-text">Fast</h2>
			<p class="icon-text hidden">
				Smooth, lag-free UIs and powerful, scalable backends are my daily focus.
			</p>
		</div>
		<div class="flex-quad">
			<div class="icon-container hidden" style="animation-delay: .3s">
				<i id="second-icon" class=" fa-3x fas fa-rocket"></i>
			</div>
			<h2 class="icon-text">Quality</h2>
			<p class="icon-text hidden">
				A strong attention to performant, clean, re-usable code in evey line is essential to grow a good code base.
			</p>
		</div>
		<div class="flex-quad">
			<div class="icon-container hidden" style="animation-delay: .5s">
				<i id="third-icon" class="fa-3x fas fa-lock"></i>
			</div>
			<h2 class="icon-text">Security</h2>
			<p class="icon-text hidden">
				Strong focus on cross-browser compatibility and responsive design ensure an optimal user experience on any device. 
			</p>
		</div>
		<div class="flex-quad">
			<div class="icon-container hidden" style="animation-delay: .7s">
				<i id="fourth-icon" class="fa-3x fas fa-brain"></i>
			</div>
			<h2 class="icon-text">Cutting Edge</h2>
			<p class="icon-text hidden">
				I love learning new tech, and keeping up with quickly changing trends is how I spend alot of my time.
			</p>
		</div>
	</div>
	<div class="flex-container">
		<div id="my-picture-container" class="hidden">
			<img id="myPicture" src="assets/images/me.jpeg" />
			<h2>Who am I?</h2>
			<p>
				I am a driven full-stack dev with a passion for the creative process. I love front-end, immerisive UIs as well as robust backend data management. <span class="blue-text">Let's build something amazing! </span>
			</p>
		</div>
		{% include language-graph.html %}
	</div>
	<div id="github-repos"></div>
</div>
