<div class="about-container">
	<h1 id="about-header" class="hidden">
		About
	</h1>
	<div id="about-header-bar" class="header-bar hidden"></div>

	<div class="flex">
		<div class="flex-quad">
			<div>
				<div class="icon-container hidden" style="animation-delay: .1s">
					<i id="first-icon" class="fa-3x fas fa-tachometer-alt"></i>
				</div>
				<h2 class="icon-text hidden">Fast</h2>
				<p class="icon-text hidden">
					High performance, lag-free UIs with a smooth, rich user experience are a priority in my daily development.
				</p>
			</div>
			<div>
				<div class="icon-container hidden" style="animation-delay: .3s">
					<!-- <i id="second-icon" class=" fa-3x fas fa-rocket"></i> -->
					<img src="assets/images/icons/shield.svg" />
				</div>
				<h2 class="icon-text hidden">Quality</h2>
				<p class="icon-text hidden">
					A strong attention to clean, re-usable code with an emphasis on low maintanance and high security.
				</p>
			</div>
		</div>
		<div class="flex-quad">
			<div>
				<div class="icon-container hidden" style="animation-delay: .5s">
					<!-- <i id="third-icon" class="fa-3x fas fa-lock"></i> -->
					<img src="assets/images/icons/responsive-design-symbol.svg" />
				</div>
				<h2 class="icon-text hidden">Responsive</h2>
				<p class="icon-text hidden">
					A focus on cross-browser compatibility and responsive design to ensure an optimal user experience on any device. 
				</p>
			</div>
			<div>
				<div class="icon-container hidden" style="animation-delay: .7s">
					<i id="fourth-icon" class="fa-3x fas fa-brain"></i>
				</div>
				<h2 class="icon-text hidden">Cutting Edge</h2>
				<p class="icon-text hidden">
					I love learning new tech, embrace change, and approach development as a process of constant learning and growing.
				</p>
			</div>
		</div>
	</div>
	<div class="flex-container">
		<div id="my-picture-container" class="hidden">
			<img id="myPicture" src="assets/images/me.jpeg" />
			<h2>Who am I?</h2>
			<p>
				I am a driven full-stack dev with a passion for the creative process. I love front-end, immerisive UIs as well as robust backend data management. <span class="blue-text scroll-to" data-id="contact">Let's build something amazing! </span>
			</p>
		</div>
		{% include language-graph.html %}
	</div>
	<div id="github-repos"></div>
</div>
