<h1 id="blog-header" class="not-displayed">Blog</h1>
<div id="blog-header-bar" class="header-bar not-displayed"></div>
<div class="blog-container">
	<div class="blog-section-flex-container">
		{% for post in site.posts limit:4 %}

		<div class="post-box-container" style="animation-delay: {{forloop.index | divided_by: 5.0}}s">
			<a href="{{ post.url }}">
				<img class="post-image" src="assets/images/{{ post.date | date:
				"%Y-%m-%d" }}.jpg" />
				<div class="text-container">
					<h3 class="post-title">{{ post.title }}</h3>
					<hr />
					<span class="post-date">{{ post.date | date_to_string }}</span>
					<p class="post-excerpt">{{ post.excerpt | truncate: 120 }}</p>
				</div>
			</a>
		</div>

		{% endfor %}
	</div>
	<a href="/blog" class="button-wrapper">
		<span>See More</span>
	</a>
</div>
