<div class="contact-container">
	<h1 id="contact-header" class="hidden">Contact</h1>
	<div id="contact-header-bar" class="header-bar hidden"></div>
	<p class="small-text">Would you like to get in touch?</p>
	<div class="contact-form-container hidden">
		<form
			id="contact-form"
			method="POST"
			action="https://formspree.io/nptravis@gmail.com"
		>
			<input type="text" name="name" placeholder="Your Name" />

			<input type="text" name="title" placeholder="Your Email" />

			<textarea name="message" placeholder="Your Message"></textarea>

			<input type="submit" />
		</form>
	</div>
</div>
