<div class="contact-container">
<h1 id="contact-header" class="not-displayed">Contact</h1>
<div id="contact-header-bar" class="header-bar not-displayed"></div>
	<p class="small-text">Would you like to get in touch?</p>
	<div class="contact-form-container">
		<form
			id="contact-form"
			method="POST"
			action="https://formspree.io/nptravis@gmail.com"
		>
			<input type="text" name="name" placeholder="Your Name" />

			<input type="text" name="title" placeholder="Your Email" />

			<textarea name="message" placeholder="Your Message"></textarea>

			<input type="submit" />
		</form>
	</div>

	<div class="footer">
		<div id="home-button"><i class="fa-2x fas fa-chevron-up"></i></div>
		<div class="social-links">
			<div class="social-icon-container">
				<a href="https://twitter.com/nictravis" target="_blank"
					><i class="fa-3x fab fa-twitter-square"></i
				></a>
			</div>
			<div class="social-icon-container">
				<a href="https://www.facebook.com/nic.travis" target="_blank"
					><i class="fa-3x fab fa-facebook-square"></i
				></a>
			</div>
			<div class="social-icon-container">
				<a
					href="https://www.linkedin.com/in/nicolas-travis-58996131/"
					target="_blank"
					><i class="fa-3x fab fa-linkedin"></i
				></a>
			</div>
			<div class="social-icon-container">
				<a href="https://github.com/nptravis" target="_blank"
					><i class="fa-3x fab fa-github-square"></i
				></a>
			</div>
		</div>
		<p class="signature">Nic Travis <span>&copy; 2019<span></p>
	</div>
</div>
