<h1>Projects</h1>
<div class="projects-container">
	{% for project in site.data.projects %}
	<div class="project-box">
		<div class="project-text-container">
			<h2 class="project-title">{{ project.name | upcase }}</h2>
			<span class="small-text">{{ project.stack }}</span>
		</div>
		<img class="project-image" src="assets/images/{{ project.image }}" />
		<a class="button-wrapper" rel="modal:open" href="#{{ project.modal-id }}">
			<span>Learn More</span>
		</a>
	</div>

	<!-- Modal HTML embedded directly into document -->
	<div id="{{ project.modal-id }}" class="modal">
		<div class="carousel-container">
			<div>
				<img
					class="carousel-image"
					src="assets/images/{{ project.carousel-image-1 }}"
				/>
			</div>
			<div>
				<img
					class="carousel-image"
					src="assets/images/{{ project.carousel-image-2 }}"
				/>
			</div>
			<div>
				<img
					class="carousel-image"
					src="assets/images/{{ project.carousel-image-3 }}"
				/>
			</div>
		</div>
		<h2>{{ project.name }}</h2>
		<span class="project-category">{{ project.category }}</span>
		<hr />
		<p>{{ project.description }}</p>
		{% if project.url == 'restricted' %}
		<a href="{{ project.repo-url }}" target="_blank" class="button-wrapper">
			<i class="fas fa-external-link-alt"></i>
			<span>Visit Repo</span>
		</a>
		{% else %}
		<a href="{{ project.url }}" target="_blank" class="button-wrapper">
			<i class="fas fa-external-link-alt"></i>
			<span>Live Site</span>
		</a>
		{% endif %}
	</div>

	<!-- Link to open the modal -->
	<!-- <p><a href="#ex1" rel="modal:open">Open Modal</a></p> -->
	{% endfor %}
</div>
