@import "./palette.scss";

div.blog-container {
	width: 80%;
	margin: 0 auto;

	div.blog-section-flex-container {
		display: flex;
		justify-content: center;

		div.post-box-container {
			flex: 0 0 auto;
			border: 3px solid transparent;
			margin: 5px;
			width: 260px;

			overflow: hidden;

			border-radius: 10px;
			background-color: $light-grey;

			a {
				padding: 0;
				margin: 0;
				text-decoration: none;
				color: $black;

				img.post-image {
					width: 100%;
					height: 40%;
				}

				div.text-container {
					text-align: left;
					padding: 8px;
					h2.post-title {
					}

					span.post-date {
						color: grey;
					}

					p.post-excerpt {
					}
				}
			}
			&:hover {
				border: 3px solid $red;
			}
		}
	}
	a.button-wrapper {
		background-color: $red;
		color: $white;
		padding: 10px;
		float: right;
		margin: 10px;
		width: 100px;

		span {
			color: $white;
		}

		&:hover {
			background-color: $white;
			color: $red;
			transition: background-color 0.5s ease;

			span,
			i {
				color: $red;
				transition: color 0.5s ease;
			}
		}
	}
}
