@import "./palette.scss";

div.contact-container {
	color: $white;
	height: 100%;
	
	
	p.small-text {
		color: $light-blue;
	}

	div.contact-form-container {
		height: 90%;
		margin-bottom: 50px;
		form {
			display: flex;
			flex-direction: column;
			width: 40%;
			min-width: 300px;
			margin: 0 auto;
			input[type="text"],
			textarea {
				color: $white;
				flex: 1;
				border: none;
				padding: 0;
				margin: 0;
				background-color: $dark-black;
				padding: 5px;
				font-size: 1em;
			}

			input[type="text"] {
				min-height: 40px;
				margin-bottom: 3px;
			}

			textarea {
				min-height: 200px;
				margin-bottom: 3px;
			}

			input[type="submit"] {
				background-color: transparent;
				border: 3px solid $white;
				color: $white;
				height: 40px;
				width: 33%;
				font-size: 1em;
				margin-left: 67%;

				&:hover {
					transition: background-color 1s ease, border-color 1s ease;
					background-color: $light-blue;
					border-color: $light-blue;
					cursor: pointer;
				}
			}
		}
	}
}

div.footer {

	height: 20%;
	width: 100%;
	padding-top: 30px;
	background-color: $dark-black;
	// height: 75px;

	div#home-button {
		border: 4px solid $red;
		width: 50px;
		background-color: $red;
		border-radius: 100%;
		height: 50px;
		margin: 0 auto;
		margin-top: -60px;

		i {
			line-height: 50px;
			width: 40px;
			height: auto;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.social-links {
		width: 40%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		div.social-icon-container {
			a {
				color: grey;
				&:hover {
					transition: color 1s ease;
					color: $light-blue;
					cursor: pointer;
				}
			}
		}
	}
}

p.signature {
	color: grey;
	span {
		color: $red;
	}
}
