@import "./palette.scss";

div.contact-container {
	color: $white;

	p.small-text {
		color: $light-blue;
	}

	div.contact-form-container {
		margin-bottom: 50px;
		form {
			display: flex;
			flex-direction: column;
			width: 40%;
			min-width: 300px;
			margin: 0 auto;
			input[type="text"],
			textarea {
				color: $white;
				flex: 1;
				border: none;
				padding: 0;
				margin: 0;
				background-color: $dark-black;
				padding: 5px;
				font-size: 1em;
			}

			input[type="text"] {
				min-height: 40px;
				margin-bottom: 3px;
			}

			textarea {
				min-height: 200px;
				margin-bottom: 3px;
			}

			input[type="submit"] {
				background-color: transparent;
				border: 3px solid $white;
				color: $white;
				height: 40px;
				width: 33%;
				font-size: 1em;
				margin-left: 67%;

				&:hover {
					transition: background-color 1s ease, border-color 1s ease;
					background-color: $light-blue;
					border-color: $light-blue;
					cursor: pointer;
				}
			}
		}
	}
}

