@import "./palette.scss";

div.home-container {
	width: 80%;
	margin: 0 auto;
	height: 100%;
	text-align: center;
	overflow: hidden;

	div.home-title {
		color: $light-grey;
		margin: 25% auto;

		span {
			color: $red;
		}

		div.down-arrow-container {
			margin: 0 auto;
			color: $red;
			background-color: transparent;
			border: 3px solid $white;
			width: 70px;
			height: 70px;
			
			border-radius: 100%;
			

			&:hover {
				cursor: pointer;
			}

			i {
				line-height: 70px;
			}
		}
	}
}


