@import "./palette.scss";

div.home-container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;

	div.home-title {
		margin-top: 100%;
		line-height: 70px;
		color: $light-grey;

		span {
			color: $red;
		}
	}

	div.down-arrow-container {
	
		margin: 0 auto;
		color: $red;
		background-color: transparent;
		border: 3px solid $white;
		width: 70px;
		height: 70px;
		
		border-radius: 100%;
		

		&:hover {
			cursor: pointer;
		}

		i {
			line-height: 70px;
		}
	}
	
	
}


