@import "./palette.scss";

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: $black;
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

h1 {
	font-size: 3em;
}

span,
p,
a {
	font-family: "Open Sans", sans-serif;
}

code {
	overflow: auto;
}

nav {
	display: flex;
	width: 100vw;
	justify-content: flex-start;
	position: relative;
	background-color: $black;
	height: 50px;
	color: #fff;
	border-bottom: 3px solid $light-blue;
	align-items: center;
	z-index: 1;

	a {
		text-align: center;
		flex: 0 1 auto;
		width: 100px;
		color: #fff;
		text-decoration: none;

		&:hover {
			cursor: pointer;
		}

		&.active {
			color: $red;
		}
	}

	a.hamburger {
		display: none;
		font-size: 31pt;
		flex: 1;
	}
}

.hidden {
	opacity: 0;
}

.not-displayed {
	display: none;
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 1;
}

.scroll-to {
	&:hover {
		cursor: pointer;
	}
}

section {
	min-height: 90vh;
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding-top: 10vh;

	&#home {
		// background-image: url("/assets/images/stars.jpg");
		// background-repeat: no-repeat;
		// background-size: cover;
		background-color: $black;
		align-items: center;
		justify-content: center;
	}

	&#about {
		background-color: $white;
	}

	&#projects {
		background-color: $light-grey;
	}

	&#blog {
		background-color: $white;
	}

	&#contact {
		color: $white;
		background-color: $black;
		min-height: 80vh;
	}
}

.blue-text {
	color: $aqua;
}

button.big-button {
	background-color: transparent;
	border: 3px solid white;
	color: grey;
	font-size: 2em;
	width: 25vw;
	height: 5vh;
}

i {
	flex: 1;
	fill: #fff;
}

div.header-bar {
	margin: 10px auto 40px auto;
	height: 4px;
	background-color: $black;
	width: 100px;

	&#contact-header-bar {
		background-color: $white;
	}
}
