/* Coolors Exported Palette - coolors.co/ddb5ba-b3b492-f2eaea-c78283-6f686d */

/* HSL */
$color1: hsla(353%, 37%, 79%, 1);
$color2: hsla(62%, 18%, 64%, 1);
$color3: hsla(0%, 24%, 93%, 1);
$color4: hsla(359%, 38%, 65%, 1);
$color5: hsla(317%, 3%, 42%, 1);

/* RGB */
$black: #262f38;
$red: #e31b6d;
$light-blue: #04c2c9;
$aqua: #00a1a7;
$color5: rgba(111, 104, 109, 1);
$white: #fff;
$dark-black: #1b242f;
$light-grey: #f7f7f7;
