div.projects-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;

	div.project-box {
		flex: 1;
		position: relative;

		h2.text {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			// opacity: 0;

			// &:hover {
			// 	opacity: 1;
			// }
		}

		img.card {
			width: 80%;
			height: auto;
		}

		div.button-wrapper {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			button.button {
				// opacity: 0;

				// &:hover {
				// 	opacity: 1;
				// }
			}
		}

		&:hover {
			border: 1px solid black;
		}
	}
}
