@import "./palette.scss";

div.projects-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;

	div.project-box {
		margin: 10px;
		flex: 1;
		position: relative;
		min-width: 300px;
		&.border {
			border: 4px solid $red;
		}

		div.project-text-container {
			position: absolute;
			margin: 0 auto;
			top: 0;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			opacity: 0;
		}

		h2.project-title {
		}

		span.small-text {
		}

		img.project-image {
			width: 100%;
			height: auto;
		}

		div.button-wrapper {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			opacity: 0;
			button.button {
			}
		}
	}
}

div.carousel-container {
	.slick-prev:before {
		color: grey;
	}
	.slick-next:before {
		color: grey;
	}
}

img.carousel-image {
	width: 50vw;
}

div.modal {
	text-align: center;
	min-width: 80vw;
}

.slick-arrow {
	color: black;
}
